Package: arduieensy-extreme-feedback
Version: ${project.version}
Architecture: all
Maintainer: Joe Littlejohn <joelittlejohn@gmail.com>
Installed-Size: 20
Depends: openjdk-7-jre
Section: java
Priority: extra
Homepage: https://github.com/joelittlejohn/arduieensy-extreme-feedback
Description: extreme feedback controller daemon for teensy-based LED orb
